<article id="content" class="page page--<%= _.pageName %>">
  <div class="sections pb-1 pb-sm-2 pb-lg-4">
    <%
    const apx = _.cms('moara_banners') || {}
    var item___ = {}
    var pageName =  _.route.path.replace(/\//g, '')
    if (apx && apx.list.length > 0 && _.pageName != "home"){ 
      const item_ = apx.list.find(bn => bn.item.title == pageName)
      if(item_ != undefined){
        item___ = item_.item  
        
    %>
        <div class="responsive-baner my-3 my-lg-4">
          <div class="container">
            <div class="banner">
              <a
                href="<%= item___.url || 'javascript:;' %>"
              >
                <picture
                    class="lozad fade img-fluid"
                    data-iesrc="<%= item___.image_d.replace('.webp', '.png') %>"
                >
                  <source srcset="<%= item___.image_d.replace('.webp', '.png') %>" media="(min-width: 576px)">
                  <source srcset="<%= item___.image_m.replace('.webp', '.png') %>" media="(min-width: 100px)">
                  <img src="<%= item___.image_d.replace('.webp', '.png') %>">                  
                </picture>
              </a>
            </div>
          </div>
        </div>    
       <%
      }
    } 

    // load page sections and render each one
    const { sections } = _.state
    if (Array.isArray(sections)) {
      for (let i = 0; i < sections.length; i++) {
        const opt = sections[i]
        if ( _.pageName == "home" && i == 999){
          
        }else if (opt && opt.enabled !== false) {
          
          %>
          <%- await include(`@/sections/${opt.type}`, { _, opt }) %>
          <%
        }
      }
    }
    if (apx && apx.list.length > 0){ 
    %>    
    <script>
      var apx_bannersPage = <%- JSON.stringify(item___) %>
    </script>   
    <% } %>
  </div>
</article>
